{% set bgpvars = bgp[ansible_hostname] -%}
{% set loopback_v4 = interfaces[ansible_hostname].lo.ipv4 -%}
{% set loopback_v6 = interfaces[ansible_hostname].lo.ipv6 -%}

{### Set the logging and save all the config in Quagga.conf file ###}
log file /var/log/frr/_frr.log
service integrated-vtysh-config
!
{### Configure the fabric ports IPv6 settings for unnumbered operation ###}
{% for interface in bgpvars.fabric_ports -%}
interface {{interface}}
 no ipv6 nd suppress-ra
 ipv6 nd ra-interval 3
!
{% endfor %}
!
router bgp {{ bgpvars.asn }}
  bgp router-id {{loopback_v4|replace("/32", "")}}
  network {{loopback_v4}}
  maximum-paths 64
  bgp bestpath as-path multipath-relax
{### Build the internal fabric ###}
  neighbor fabric peer-group
  neighbor fabric advertisement-interval 0
  neighbor fabric timers 1 3
  neighbor fabric timers connect 3
  neighbor fabric capability extended-nexthop
  neighbor fabric remote-as external
{### Configure prefix lists ###}
  {% if bgpvars.fabric_prefix_list_out is defined %}
  neighbor fabric prefix-list {{bgpvars.fabric_prefix_list_out}} out
  {% endif -%}
  {% if bgpvars.fabric_prefix_list_out is defined %}
  neighbor fabric prefix-list {{bgpvars.fabric_prefix_list_out}} in
  {% endif -%}
{### Configure interfaces ###}
 {% for interface in bgpvars.fabric_ports %}
  neighbor {{interface}} interface
  neighbor {{interface}} peer-group fabric
 {% endfor %}
!
  address-family ipv6
  network {{loopback_v6}}
{### Configure interfaces ###}
  neighbor fabric activate
 {% for interface in bgpvars.fabric_ports -%}
  neighbor {{interface}} peer-group fabric
 {% endfor %}
!
 exit-address-family
!
ip forwarding
!
line vty
