{% set bgpvars = bgp[ansible_hostname] -%}
{% set loopback_v4 = interfaces[ansible_hostname].lo.ipv4 -%}
{% set loopback_v6 = interfaces[ansible_hostname].lo.ipv6 -%}

{### Set the logging and save all the config in Quagga.conf file ###}
log file /var/log/frr/_frr.log
service integrated-vtysh-config
!
{### Configure the fabric ports IPv6 settings for unnumbered operation ###}
{% for interface in bgpvars.fabric_ports -%}
interface {{interface}}
 no ipv6 nd suppress-ra
 ipv6 nd ra-interval 3
!
{% endfor %}
{### Configure the server ports IPv6 settings for unnumbered operation ###}
{% for interface in bgpvars.server_ports -%}
interface {{interface}}
 no ipv6 nd suppress-ra
 ipv6 nd ra-interval 3
!
{% endfor %}
!
router bgp {{ bgpvars.asn }}
  bgp router-id {{loopback_v4|replace("/32", "")}}
  maximum-paths 64
  bgp bestpath as-path multipath-relax
{% for interface in interfaces[ansible_hostname].keys()|sort -%}
{% if interfaces[ansible_hostname][interface].ipv4 is defined %}
  network {{interfaces[ansible_hostname][interface].ipv4}}
{% endif -%}
{% endfor -%}
{### Build the internal fabric ###}
  neighbor fabric peer-group
  neighbor fabric advertisement-interval 0
{### uncomment me
   neighbor fabric timers 1 3
###}
  neighbor fabric timers connect 3
  neighbor fabric capability extended-nexthop
  neighbor fabric remote-as external
{### Configure interfaces ###}
{% for interface in bgpvars.fabric_ports %}
  neighbor {{interface}} interface
  neighbor {{interface}} peer-group fabric
{% endfor -%}
{### Loop through server BGP connections ###}
  neighbor servers peer-group
  neighbor servers advertisement-interval 0
  neighbor servers timers 1 3
  neighbor servers timers connect 3
  neighbor servers remote-as external
  neighbor servers capability extended-nexthop
{### Configure interfaces ###}
{% for interface in bgpvars.server_ports %}
  neighbor {{interface}} interface
  neighbor {{interface}} peer-group servers
{% endfor %}
!
  address-family ipv6
  network {{loopback_v6}}
  neighbor fabric activate
{% for interface in bgpvars.fabric_ports %}
  neighbor {{interface}} peer-group fabric
{% endfor -%}
  neighbor servers activate
{% for interface in bgpvars.server_ports %}
  neighbor {{interface}} peer-group servers
{% endfor %}
!
 exit-address-family
!
ip forwarding
!
line vty
!
end
